.inquiry-wrap {
    width: 100%;
    margin-top: 130px;
}

.inquiry-board {
    margin-left: 200px;
    margin-right: 200px;
}

.inquiry-text {
    text-align: left;
    font: normal normal normal 40px/25px AppleSDGothicNeoB00;
    letter-spacing: 0px;
}
.inquiry-option-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.inquiry-button-section {
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
}
.inquiry-category {
    width: 80px;
    border-radius: 40px;
    display: flex;
    font: normal normal normal 15px/25px AppleSDGothicNeoB00;
    align-items: center;
    justify-content: center;
    height: 35px;
    border: 2px solid #d1d1d1;
    background-color: white;
}

.inquiry-category-click {
    background-color: #22334d;
    color: white;
}

.inquiry-search-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inquiry-search-input {
    padding-left: 20px;
    width: 280px;
    height: 40px;
    border: 1px solid #b5b5b5;
    border-radius: 25px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 15px/25px AppleSDGothicNeoM00;
    letter-spacing: 0px;
}

.inquiry-search-icon {
    position: absolute;
    background-image: url("../../images/icon/search_gray.png");
    background-size: cover;
    transform: translateX(-20px);
    width: 27px;
    height: 27px;
    color: black;
}

.inquiry-search-input:focus {
    outline: none;
}

.inquiry-category-line {
    top: 228px;
    left: 315px;
    /* width: 1290px; */
    height: 0px;
    border: 1px solid #000000;
    opacity: 1;
    margin: 15px 0px 15px 0px;
}

.inquiry-tab-category {
    display: flex;
    font: normal normal normal 20px/25px AppleSDGothicNeoB00;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.inquiry-tab-category span:first-child {
    margin-left: 5%;
    width: 5%;
    text-align: center;
}

.inquiry-tab-category span:nth-child(2) {
    width: 60%;
    margin-left: 5%;
}
.inquiry-tab-category span:nth-child(3) {
    text-align: center;
    width: 15%;
}

.inquiry-tab-post {
    display: flex;
}

.inquiry-tab-post span:first-child {
    margin-left: 5%;
    font: normal normal normal 15px/25px AppleSDGothicNeoR00;
    letter-spacing: 0px;
    color: #487498;
    opacity: 1;
    width: 5%;
    text-align: center;
}

.inquiry-tab-post span:nth-child(2) {
    margin-left: 5%;
    font: normal normal normal 15px/25px AppleSDGothicNeoB00;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    width: 60%;
}

.inquiry-tab-post span:nth-child(3) {
    font: normal normal normal 15px/25px AppleSDGothicNeoR00;
    letter-spacing: 0px;
    color: #636363;
    opacity: 1;
    text-align: center;
    width: 15%;
}

.inquiry-tab-post-line {
    top: 347px;
    left: 315px;
    /* width: 1290px; */
    height: 0px;
    border: 1px solid #d1d1d1;
    opacity: 1;
    margin: 15px 0px 15px 0px;
}

.inquiry-page-btn {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    margin: 14px 0px 32px 0px;
}

.inquiry-page-prevbtn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    margin: 0px 10px 0px 10px;
    box-shadow: 0px 1px 2px #00000029;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font: normal normal normal 15px/25px AppleSDGothicNeoB00;
}

.inquiry-page-prevbtn:hover,
.inquiry-register-btn:hover {
    background: #ebebeb;
}

.inquiry-register-btn {
    position: absolute;
    right: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    margin: 0px 10px 0px 10px;
    box-shadow: 0px 1px 2px #00000029;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

.inquiry-route {
    font: normal normal normal 15px/25px AppleSDGothicNeoR00;
    color: #636363;
    margin-left: 30px;
}

.inquiry-loadingDiv {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50px;
    height: 50px;
    border-left: 4px dotted #0ac3c8;
    border-top: 4px dotted #0ac3c8;
    border-radius: 100%;
    animation: spinnerRotate 2s linear infinite;
    -webkit-animation: spinnerRotate 2s linear infinite;
}

@keyframes spinnerRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.inquiry-no-notice {
    font: normal normal normal 15px/25px AppleSDGothicNeoR00;
}
