.introduce {
    width: 100%;
    margin-top: 60px;
    word-break: keep-all;
    font: 1.2rem/2rem AppleSDGothicNeoM00;
}


.introduce-banner {
    width: 100%;
    background: #22334D 0% 0% no-repeat padding-box;
    padding: 10em 0;
    margin-bottom: 9em;
}
.introduce-banner-wrap {
    width: 70%;
    max-width: 1400px;
    
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.introduce-banner-slogan {
    text-align: left;
    font: normal normal normal 2.5rem/3.5rem AppleSDGothicNeoM00;
    color: #FFFFFF;
}
.introduce-banner-name {
    font: normal normal normal 5em AppleSDGothicNeoEB00; /* 5em/7em */
    color: #0AC3C8;
    margin-left: 1em;
}


.introduce-wrap {
    width: 90%;
    max-width: 1500px;
    min-width: 1350px; 

    margin: auto;
    text-align: center;
}


.introduce-intro-box {
    width: 80%;
    margin: auto;
    margin-bottom: 9em;
    
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.introduce-intro-first-desc {
    width: 30%;
    font: normal normal normal 40px/55px AppleSDGothicNeoEB00;
}
.introduce-intro-first-desc span {
    color: #0AC3C8;
}
.introduce-intro-second-desc {
    width: 70%;
    margin-left: 1em;
    font: normal normal normal 20px/35px AppleSDGothicNeoM00;
}


.introduce-vision-box {
    width: 80%;
    margin: auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
}
.introduce-vision-content-first {
    width: 48%;
    background-color: #F3F3F3; 
    font: normal normal normal 2.5rem AppleSDGothicNeoEB00; /* 40px/55px */
}
.introduce-vision-content-second {
    width: 48%;
    background-color: #000000;
    padding: 4em 4.5em;
    box-sizing: border-box;

    color: #FFFFFF;
    font: normal normal normal 1.2rem/2rem AppleSDGothicNeoM00; 
}
.introduce-vision-content-second div {
    font: normal normal normal 2.5rem AppleSDGothicNeoEB00; /*40px/55px*/
    margin-bottom: 1em;
}


.introduce-catch-box {
    width: 80%;
    margin: auto;
    margin-bottom: 12em;
    padding: 5em 9em;
    box-sizing: border-box;
    
    background-image: url("../../images/introduce/introduce.png");
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.7);
    
    /* font-weight: ; */
    text-align: left;
    color: #FFFFFF;
}
.introduce-catch-box div {
    font: normal normal normal 40px/55px AppleSDGothicNeoEB00;
    margin-bottom: 20px;
}


.introduce-linkerbell-box {
    margin-bottom: 1em;
    font: .93rem/1.5rem AppleSDGothicNeoM00;
}
.introduce-linkerbell-box div:first-child {
    font: 2.5rem/2.3rem AppleSDGothicNeoH00;
    padding: 0.3em 0;
}
.introduce-linkerbell-box div:nth-child(2) {
    font: 1.25rem/2.3rem AppleSDGothicNeoM00;
    padding: 0.3em 0;
}


.introduce-developer-box {
    width: 80%;
    margin: auto;
    margin-bottom: 7em;
}
.introduce-developer-partname {
    text-align: left;
    font: 1.8rem/2.3rem AppleSDGothicNeoSB00;
    margin-bottom: .5em;
}
.introduce-developer-part {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}


.introduce-contact-box {
    width: 80%;
    margin: auto;
    margin-bottom: 8em;
    display: flex;
    justify-content: space-between;
    
    text-align: left;
    color: #707070;
}
.introduce-contact-logo {
    color: #000000;
    font: 2.5rem/3.5rem AppleSDGothicNeoEB00;
}
.introduce-contact-detail {
    width: 50%;
}
