.noticeDetail-wrap {
    width: 100%;
    margin-top: 130px;
    margin-bottom: 100px;
}

.noticeDetail-board {
    margin-left: 315px;
    margin-right: 315px;
}

.noticeDetail-text {
    text-align: left;
    font: normal normal normal 40px/25px AppleSDGothicNeoB00;
    letter-spacing: 0px;
}

.noticeDetail-category-line {
    top: 228px;
    left: 315px;
    /* width: 1290px; */
    height: 0px;
    border: 1px solid #000000;
    opacity: 1;
    margin: 15px 0px 15px 0px;
}

.noticeDetail-tab-category {
    display: flex;
    font: normal normal normal 15px/20px AppleSDGothicNeoB00;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.noticeDetail-tab-category span:first-child {
    margin-left: 8%;
    width: 15%;
    color: #999999;
}

.noticeDetail-tab-category span:nth-child(2) {
    width: 60%;
}

.noticeDetail-main {
    margin-left: 8%;
    width: 84%;
    word-break: break-all;
}
