.register {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;

    text-align: left;
}
/* * {
    word-break: keep-all;
} */


.register-left {
    width: 40%;
    height: 100vh;
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;

    word-break: keep-all;
}
.register-left-box {
    width: 60%;
}

.register-name {
    color: #487498;
    font: 3rem/4.5rem AppleSDGothicNeoEB00;
    /* color: #01c1c6; */
}
.register-intro {
    font: .95rem/1.5rem AppleSDGothicNeoM00;
    margin-bottom: 2em;
}
.btn-register {
    display: block;
	width: 100%;
	margin-top: 2em;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 5px #00000033;
	border-radius: 10px;
	border: 1px solid #22334d;
	text-align: center;
	font: normal normal normal 15px/38px AppleSDGothicNeoB00;
	color: #22334d;
	line-height: 45px;
	cursor: pointer;
}



.register-right-wallpaper {
    width: 60%;
    overflow: hidden;
    background-color: teal;
}
.register-right-wallpaper-img {
    width: 110%;
    height: 110vh;

    background-color: royalblue;
    background-image: url("../../images/login/register-monet.png");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.3);

    filter: blur(4px);
    position: relative;
    top: -5px;
    left: -5px;
}


.register-right {
    width: 60%;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font: 1.2rem/2rem AppleSDGothicNeoM00;
    color: white;
    word-break: keep-all;

    position: absolute;
    top: 0;
    right: 0;
}
.register-right-box {
    width: 40%;
}
.register-logo {
    /* font: 3rem/4.5rem AppleSDGothicNeoEB00;
    */
    display: inline-block; 
    margin-bottom: 1em;
    
    font: 3rem/4.5rem AppleSDGothicNeoEB00;
    color: #487498;
    color: #01c1c6;
}
.register-slogan {
    font: 2rem/3rem AppleSDGothicNeoSB00;
    margin-bottom: 1em;
}
.register-slogan-text {
    font: .95rem/1.5rem AppleSDGothicNeoM00;
    margin-bottom: 1.5em;
}
.register-more-info {
    font: .8rem/3rem AppleSDGothicNeoM00;
    display: inline-block;
}
