.suggestion-header {
    width: 80%;
}

.suggestion-bg {
}

.suggestion-header p {
    font: normal normal normal 15px/38px AppleSDGothicNeoB00;
    margin: 0;
    font-size: 15px;
}

.suggestion-header p:first-child {
    font-size: 30px;
    margin-bottom: 10px;
    font: normal normal normal 50px/55px AppleSDGothicNeoEB00;
}
.suggestion-header p:nth-child(2) {
    height: 25px;
}
.suggestion-subTitle {
    font: normal normal normal 20px/35px AppleSDGothicNeoEB00;
}
.suggestion-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 10% 0 10%;
}
.suggestion-auto-carousel-container {
    width: 80%;
}

.suggestion-auto-carousel-title {
    width: 80%;
    font: normal normal normal 13px/20px AppleSDGothicNeoB00;
}
.suggestion-auto-carousel-company {
    font: normal normal normal 10px/20px AppleSDGothicNeoB00;
}
.suggestion-auto-carousel-detail {
    font: normal normal normal 10px/20px AppleSDGothicNeoB00;
    display: flex;
    width: 60%;
    justify-content: space-between;
    opacity: 0.6;
}
.suggestion-auto-carousel-container .slick-track {
    padding: 30px 0 30px 0;
}
.suggestion-auto-carousel-container .slick- {
    box-sizing: border-box;
    margin: 10px;
}

.suggestion-auto-carousel-container .slick-slide {
    transform: scale(0.9);
    transition: transform 0.3s linear;
    position: relative;
}
.suggestion-auto-carousel-container .slick-current + .slick-active {
    transform: scale(1.2);
    transition: transform 0.3s linear;
    z-index: 5;
    background-color: white;
}

.suggestion-auto-carousel-box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 200px;
}
.suggestion-auto-carousel-box:hover {
    box-shadow: #53bfc2 0px 3px 8px;
}
.suggestion-auto-carousel-box > div:not(.suggestion-auto-carousel-logo) {
    transform: translateX(10px);
}

.suggestion-arrow-carousel-container {
    width: 100%;
}

.suggestion-arrow-carousel-container .slick-prev:before,
.suggestion-arrow-carousel-container .slick-next:before {
    color: #487498;
    font-size: 25px;
}

.suggestion-arrow-carousel-container {
    margin: 30px 0 30px 0;
}
.suggestion-arrow-carousel-box:hover {
    box-shadow: #53bfc2 0px 3px 8px;
}
.suggestion-arrow-carousel-box {
    background-color: #f8f8f8;
    transform: scale(0.9);
}
.suggestion-arrow-carousel-box > div {
    transform: translateX(15px);
}
.suggestion-arrow-carousel-logo {
    color: green;
    font-size: 30px;
    margin: 20px 0 20px 0;
}
.suggestion-arrow-carousel-title {
    width: 75%;
    font: normal normal normal 15px/20px AppleSDGothicNeoB00;
}
.suggestion-arrow-carousel-company,
.suggestion-arrow-carousel-detail,
.suggestion-arrow-carousel-date {
    font: normal normal normal 13px/20px AppleSDGothicNeoB00;
}
.suggestion-arrow-carousel-detail {
    display: flex;
    width: 60%;
    justify-content: space-between;
    opacity: 0.6;
}
.suggestion-arrow-carousel-date {
    line-height: 40px;
}

.suggestion-sort-container {
    width: 100%;
    position: relative;
    min-height: 700px;
}

.suggestion-input-container {
    position: relative;
    margin: 50px 0;
    background-color: #f8f8f8;
    box-sizing: border-box;
    padding: 20px 20px 50px 20px;
    display: flex;
}

.suggestion-input {
    border: none;
    height: 40px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 30px;
    padding-left: 60px;
    font: normal normal normal 15px/20px AppleSDGothicNeoB00;
    outline: none;
}

.suggestion-search-icon {
    position: absolute;
    background-image: url("../../images/icon/search_gray.png");
    background-size: cover;
    transform: translate(20px, 10px);
    width: 23px;
    height: 23px;
}
.suggestion-sort-button {
    height: 50px;
    width: 200px;
    border-radius: 20px 20px 0 0;
    background-color: #f8f8f8;
    border: none;
    font: normal normal normal 15px/10px AppleSDGothicNeoEB00;
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 60px;
}
.suggestion-sort-area-button {
    top: -50px;
    left: 0;
}
.suggestion-sort-job-button {
    top: -50px;
    left: 200px;
}
.suggestion-area-container .suggestion-job-container {
    background-color: white;
    border: 1px solid black;
    width: 130px;
    box-sizing: border-box;
}

.suggestion-area-container {
    position: absolute;
    top: 0;
    left: 0;
}

.suggestion-job-container {
    top: 0;
    left: 200px;
    position: absolute;
}
.suggestion-button-focus {
    background-color: #22334d;
    color: white;
}

.suggestion-area-ul {
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    background-color: white;
    top: -16px;
    border: 1px solid black;
    width: 130px;
    box-sizing: border-box;
    list-style-type: none;
    border-left: 0;
    padding: 16px 0 16px 0;
}
.suggestion-job-ul {
    padding-left: 0;
    position: absolute;
    background-color: white;
    top: -16px;
    border: 1px solid black;
    width: 200px;
    box-sizing: border-box;
    list-style-type: none;
    padding: 16px 0 16px 0;
}
.suggestion-area-button {
    background-color: white;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15% 0 15%;
    height: 30px;
}

.suggestion-area-button:focus {
    color: #4876ef;
    background-color: #f6f9fe;
}

.suggestion-area-city-ul {
    position: absolute;
    background-color: white;
    top: -16px;
    left: 130px;
    border: 1px solid black;
    width: 70px;
    box-sizing: border-box;
    list-style-type: none;
    border-left: 0;
    padding-left: 0;
    padding: 16px 0 16px 0;
}

.suggestion-sort-button div {
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 3px;
    width: 20px;
    height: 20px;

    display: flex;
    background: white;
    align-items: center;
    justify-content: center;
}
.suggestion-sort-button div {
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 3px;
    width: 20px;
    height: 20px;

    display: flex;
    background: white;
    align-items: center;
    justify-content: center;
}

.mymodal {
    z-index: 101;
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 40px;
}

.myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.suggestion-btn {
    font: normal normal normal 15px/38px AppleSDGothicNeoR00;
    background-color: white;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    width: 80px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.suggestion-btn:hover {
    background: #22334d;
    color: white;
}
