.suggestion-header {
    width: 80%;
}

.suggestion-header p {
    font: normal normal normal 15px/38px AppleSDGothicNeoB00;
    margin: 0;
    font-size: 15px;
}

.suggestion-header p:first-child {
    font-size: 30px;
    margin-bottom: 10px;
    font: normal normal normal 50px/55px AppleSDGothicNeoEB00;
}
.suggestion-header p:nth-child(2) {
    height: 25px;
}
.suggestion-category-type {
    font: normal normal normal 20px/35px AppleSDGothicNeoEB00;
}
.suggestion-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 10% 0 10%;
}
.suggestion-auto-carousel-container {
    width: 80%;
}

.suggestion-auto-carousel-logo {
    color: green;
    text-align: center;
    font-size: 30px;
    margin: 20px 0 20px 0;
}

.suggestion-auto-carousel-title {
    width: 80%;
    font: normal normal normal 13px/20px AppleSDGothicNeoB00;
}
.suggestion-auto-carousel-company {
    font: normal normal normal 10px/20px AppleSDGothicNeoB00;
}
.suggestion-auto-carousel-detail {
    font: normal normal normal 10px/20px AppleSDGothicNeoB00;
    display: flex;
    width: 60%;
    justify-content: space-between;
    opacity: 0.6;
}
.suggestion-auto-carousel-container .slick-track {
    padding: 30px 0 30px 0;
}
.suggestion-auto-carousel-container .slick-list {
    box-sizing: border-box;
    margin: 10px;
}

.suggestion-auto-carousel-container .slick-slide {
    transform: scale(0.9);
    transition: transform 0.3s linear;
    position: relative;
}
.suggestion-auto-carousel-container .slick-current + .slick-active {
    transform: scale(1.2);
    transition: transform 0.3s linear;
    z-index: 5;
    background-color: white;
}

.suggestion-auto-carousel-box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 200px;
}
.suggestion-auto-carousel-box:hover {
    box-shadow: #53bfc2 0px 3px 8px;
}
.suggestion-auto-carousel-box > div:not(.suggestion-auto-carousel-logo) {
    transform: translateX(10px);
}

.suggestion-arrow-carousel-container {
    width: 100%;
}

.suggestion-arrow-carousel-container .slick-prev:before,
.suggestion-arrow-carousel-container .slick-next:before {
    color: #487498;
    font-size: 25px;
}

.suggestion-arrow-carousel-container {
    margin: 30px 0 30px 0;
}
.suggestion-arrow-carousel-box:hover {
    box-shadow: #53bfc2 0px 3px 8px;
}
.suggestion-arrow-carousel-box {
    background-color: #f8f8f8;
    transform: scale(0.9);
}
.suggestion-arrow-carousel-box > div {
    transform: translateX(15px);
}
.suggestion-arrow-carousel-logo {
    color: green;
    font-size: 30px;
    margin: 20px 0 20px 0;
}
.suggestion-arrow-carousel-title {
    width: 75%;
    font: normal normal normal 15px/20px AppleSDGothicNeoB00;
}
.suggestion-arrow-carousel-company,
.suggestion-arrow-carousel-detail,
.suggestion-arrow-carousel-date {
    font: normal normal normal 13px/20px AppleSDGothicNeoB00;
}
.suggestion-arrow-carousel-detail {
    display: flex;
    width: 60%;
    justify-content: space-between;
    opacity: 0.6;
}
.suggestion-arrow-carousel-date {
    line-height: 40px;
}

.suggestion-sort-container {
    width: 100%;
}

.suggestion-input-container {
    margin: 50px 0;
    background-color: #f8f8f8;
    box-sizing: border-box;
    padding: 20px 20px 50px 20px;
    display: flex;
}
.suggestion-form {
    position: relative;
    width: 100%;
}

.suggestion-input {
    border: none;
    height: 40px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 30px;
    padding-left: 60px;
    font: normal normal normal 15px/20px AppleSDGothicNeoB00;
    outline: none;
}

.suggestion-search-icon {
    position: absolute;
    background-image: url("../../images/icon/search_gray.png");
    background-size: cover;
    transform: translate(20px, 10px);
    width: 23px;
    height: 23px;
}
