@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.suggestion-modal-container {
    z-index: 102;
    position: fixed;
    background-color: #00000080;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: modal-bg-show 0.3s;
    padding: 60px;
}
.suggestion-modal-closeBtn {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    font-size: 70px;
    right: 3%;
    top: 0;
    border: 0;
    outline: 0;
}

.suggestion-modal-wrapper {
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    width: 90%;
    margin-top: 20px;
    overflow: scroll;
    height: 83vh;
    padding-bottom: 80px;
    overflow: auto;
    margin: auto;
    padding: 20px;
}
.suggestion-modal-wrapper::-webkit-scrollbar {
    width: 11px;
    left: -100px;
}
.suggestion-modal-wrapper::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.suggestion-modal-wrapper::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.suggestion-modal-header {
    display: flex;
    height: 120px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}
.suggestion-modal-view {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}
.suggestion-modal-view span {
    transform: translateY(60%);
}
.suggestion-modal-header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.suggestion-modal-header-left h4 {
    font-size: 22px;
    font-weight: 400;
    font-family: AppleSDGothicNeoM00;
}
.suggestion-modal-title {
    margin: 0;
}

.suggestion-modal-homepage {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 120px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.suggestion-modal-info {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-template-rows: repeat(3);
    gap: 20px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.suggestion-modal-img {
    background: rosybrown;
    margin: 20px 0 20px 0;
    width: 100%;
    height: 300px;
}

.suggestion-modal-buttonArea {
    display: flex;
    justify-content: space-between;
    margin: 40px 30%;
}

.suggestion-modal-button {
    font-size: 15px;
    background: #02c1c6;
    color: white;
    border-radius: 50px;
    outline: none;
    border: none;
    width: 180px;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.suggestion-modal-companyInfo-section {
    display: flex;
    padding-left: 20px;
    margin-bottom: 100px;
}
.suggestion-modal-companyInfo-section h2 {
    margin: 0 0 20px 0;
}
.suggestion-modal-logo {
    background: rosybrown;
    width: 200px;
    height: 150px;
}
.suggestion-modal-companyInfo {
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 25px;
}
.suggestion-modal-info-grid {
    width: 120%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    gap: 20px;
    font-size: 15px;
}
.suggestion-modal-companyInfo-right-box {
    margin-left: 40px;
    position: relative;
}

.suggestion-modal-extra {
    position: absolute;
    color: rgba(0, 0, 0, 0.4);
    bottom: -30%;
    right: -30%;
    font-size: 14px;
}
